
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet"  type="text/css" href="{% static 'style.css'%} "  />
<link rel="stylesheet"   type="text/css" href="{% static 'coin-slider.css'%}" />

<script type="text/javascript" src="{% static 'cufon-yui.js'%} "></script>
<script type="text/javascript" src="{% static 'cufon-aller.js'%}"></script>
<script type="text/javascript" src="{% static 'jquery-1.4.2.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script.js'%}"></script>
<script type="text/javascript" src="{% static 'coin-slider.min.js'%}"></script>
<style type="text/css">
<!--
.style5 {
	font-size: 30px;
  font-family:cursive;
  font-weight: bolder;
	color: #5310be;
}
.style12 {font-weight: bold}
.style13 {font-size: 24px; color: #FF0000; font-weight: bold; }
.style16 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <p>&nbsp;</p>
      </div>
      <div class="mainbar">
        <h1 align="center"><a href="index.html"><span class="content style5">The Influence of Artificial Intelligence on E-Governance and Cybersecurity in Smart Cities</span></a></h1>



        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
   
     <p align="center"><span class="active"><span class="style12"> 
      <a href="{% url 'index' %}" style = "margin-right: 20px; border-radius: 10px;  background-color: rgb(201, 236, 238); color :black; font-size : 20px; padding: 10px;">HOME</a>
          <a href="{% url 'login' %}" style = "margin-right: 20px; border-radius: 10px;  background-color: rgb(201, 236, 238); color : rgb(22, 22, 23);
           font-size : 20px;
            padding: 10px">REMOTE USER</a>
          <a href="{% url 'serviceproviderlogin' %}" style = "margin-right: 20px; border-radius: 10px; padding: 10px; background-color:rgb(201, 236, 238); color : black; font-size : 20px;">SERVICE PROVIDER</a></span></span></p>
    
    <div>
</div>



        <img src="{% static 'image1.jpg'%}" width="1297" height="421" alt="" class="fl" />      </div>
      <div class="clr"></div>
      <div class="slider">
        
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          
          

        <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-alerts">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script><link href="https://unpkg.com/soft-ui-design-system@1.0.1/assets/css/soft-design-system.min.css" rel="stylesheet" /><div class="container py-5">
  <div class="row">
    
    <div>
</div>
          <div class="clr"></div>
        </div>
      </div>
      <div class="sidebar">
        <div class="searchform"></div>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg"></div>
  <div class="footer"></div>
</div>
<div align=center></div>
</body>
</html>
